html {
  height: 100%;
  font-size: min(1.5vw,62.5%);
}

:root {
  --swap-animation-time: 0.6s;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-wrapper {
  display: flex;

  > button {
    flex: 1;
    margin-top: 2rem;
    font-size: 1.4rem;
    padding: 1.2rem 2rem;
    background-color: firebrick;
    color:white;
    border: none;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}

.container {
  padding: 3rem;
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;

  > div:last-child {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      text-align: center;
    }
  }
}

.box {
  margin: 0 auto;
  border-radius: .5rem;
  text-align: center;
}

.array {
  --elem-width: 4rem;
  --elem-margin: .2rem;
  --pointer-size: 3rem;

  .movable {
    transform: translateX(calc((var(--elem-width) + var(--elem-margin) * 2) * var(--offset)));
  }

  &__container {
    display: flex;
    align-items: flex-end;
    height: 25rem;
  }

  &__elem {
    position: relative;
    width: var(--elem-width);
    margin: 0 var(--elem-margin);
    color: white;
    transition: transform var(--swap-animation-time) ease-in-out;

    div {
      border-radius: .5rem;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 0.4rem;
      height: 100%;
      background-color: black;
    }
  }

  &__pointers {
    position: relative;
    display: flex;
    // flex-direction: column;
    align-items: flex-end;
    margin-top: 7rem;

    span {
      position: absolute;
      left: 0;
      font-size: 1.5rem;
      width: var(--elem-width);
      margin-left: var(--elem-margin);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s;

      &::before {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        display: block;
        background-color: black;
        top: -4rem;

        clip-path: polygon(0% 60%, 50% 0, 100% 60%, 60% 50%, 60% 100%, 40% 100%, 40% 50%);

        height: 3rem;
        width: 1rem;
      }
    }
  }
}

@keyframes scaleUp {
  0% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-5rem) scale(1.2);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
