html {
  height: 100%;
  font-size: min(1vw,62.5%);
  background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

:root {
  --swap-animation-time: 0.6s;
  --light:#fff;
}

* {
  box-sizing: border-box;
}

main {
  margin: auto;
  text-align: center;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-wrapper {
  display: flex;

  > button {
    flex: 1;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
    padding: 1.2rem 2rem;
    background-color: transparent;
    border:.4rem solid var(--light);
    cursor: pointer;
    border-radius: 999px;
    color:var(--light);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease-in-out;

    svg {
      width: auto;
      height: 1em;
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &.active {
      color:#ffff00;
      border-color: currentColor;      
      transform:translateY(-4%)
    }
  }
}

.container {
  padding: 3rem;
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;

  > div:last-child {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      text-align: center;
    }
  }
}

.box {
  margin: 0 auto;
  border-radius: .5rem;
  text-align: center;
}

#algorithm-select {
  display: block;
  width: 100%;
  margin: 3rem 0;
}

#statusmessage {
  color:var(--light);
  text-transform: uppercase;
  margin-top:2rem;
}

#next-step {
  touch-action: manipulation;
}

.array {
  --elem-width: 7rem;
  --elem-margin: .2rem;
  --pointer-size: 3rem;

  .movable {
    transform: translateX(calc((var(--elem-width) + var(--elem-margin) * 2) * var(--offset)));
  }

  &__container {
    display: flex;
    align-items: flex-end;
    height: 25rem;
  }

  &__elem {
    position: relative;
    width: var(--elem-width);
    margin: 0 var(--elem-margin);
    color: var(--light);
    transition: transform var(--swap-animation-time) ease-in-out;

    div {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 1rem;
      height: 100%;
      border:.3rem solid var(--light);
      transition: transform .4s ease-in-out;

      &.hovered {
        transform:translateY(-4rem);
      }
    }
  }

  &__pointers {
    position: relative;
    display: flex;
    // flex-direction: column;
    align-items: flex-end;
    margin-top: 7rem;

    span {
      position: absolute;
      left: 0;
      font-size: 1.5rem;
      width: var(--elem-width);
      color:var(--light);
      margin-left: var(--elem-margin);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s;

      &::before {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        display: block;
        background-color: var(--light);
        top: -4rem;
        clip-path: polygon(0% 60%, 50% 0, 100% 60%, 60% 50%, 60% 100%, 40% 100%, 40% 50%);

        height: 3rem;
        width: 1rem;
      }
    }
  }
}

footer {
  align-self: flex-start;
  margin-left: 2rem;
  font-size: 1rem;
  color:var(--light);

  & a {
    color: currentColor;
  }
}

@keyframes scaleUp {
  0% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-5rem) scale(1.2);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
