html {
  height: 100%;
}

:root {
  --swap-animation-time: .8s;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  padding: 3rem;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;

  > div:last-child {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      text-align: center;
    }
  }
}

.box {
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
}

.array {
  --elem-width: 80px;
  --elem-margin: 2px;
  --pointer-size: 30px;
  

  .movable {
    transform: translateX(
      calc((var(--elem-width) + var(--elem-margin) * 2) * var(--offset))
    );
  }

  &__container {
    display: flex;
    align-items: flex-end;
    height: 250px;
  }

  &__elem {
    position: relative;
    width: var(--elem-width);
    margin: 0 var(--elem-margin);
    color: white;
    transition: transform var(--swap-animation-time) ease-in-out;

    div {
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: .4rem;
      height:100%;
      background-color: black;
      
      

    }
  }

  &__pointers {
    display: flex;
    flex-direction: column;

    span {
      font-size: 1.5rem;
      position: relative;
      width: var(--elem-width);
      margin-left: var(--elem-margin);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s;
      &:first-child {
        margin-top: 60px;
      }


      &::before {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        display: block;
        background-color: black;
        top: -40px;

        clip-path: polygon(
          0% 60%,
          50% 0,
          100% 60%,
          60% 50%,
          60% 100%,
          40% 100%,
          40% 50%
        );

        height: 30px;
        width: 10px;
      }
    }
  }
}

button {
  margin-top: 2rem;
  padding: 1.2rem 2rem;
  background-color: firebrick;
  border: none;
}

@keyframes scaleUp {
  0% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-50px) scale(1.2);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
